= form_for @ranking do |f|
  - if @ranking.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ranking.errors.count, "error")} prohibited this ranking from being saved:"
      %ul
        - @ranking.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
