%div(class="row group-frame")
  - btn_class_success = 'btn form-control btn-success '
  - btn_class_info = 'btn form-control btn-info '
  = form_tag(:summary, action: :show) do
    %div(class="row buttons")
      %div(class="col-md-3")
        = submit_tag('登録者数', name: :count_registers, class: btn_class_success)
      %div(class="col-md-3")
      %div(class="col-md-3")
        期間
      %div(class="col-md-3 group-edit")
        = submit_tag('実施状況', name: :practice_status, class: btn_class_info)
    %div(class="row buttons")
      %div(class="col-md-3")
        = submit_tag('ユーザ（延べ）', name: :cumulative_users, class: btn_class_success)
      %div(class="col-md-3")
        = submit_tag('ユーザ（ユニーク）', name: :unique_users, class: btn_class_success)
      %div(class="col-md-3")
        = date_field_tag(:summarize_term_begin, @summary.params[:summarize_term_begin], class: 'form-control')
    %div(class="row buttons")
      %div(class="col-md-3")
        = submit_tag('相談回数', name: :counsel_counts, class: btn_class_success)
      %div(class="col-md-3")
        = submit_tag('相談ユーザ数', name: :counsel_users, class: btn_class_success)
      %div(class="col-md-3")
        = date_field_tag(:summarize_term_end, @summary.params[:summarize_term_end], class: 'form-control')
    %div(class="row buttons")
      %div(class="col-md-3")
        = submit_tag('課金額（DDクリニック）', name: :ddq_purchases, class: btn_class_success)
      %div(class="col-md-3")
        = submit_tag('課金額（プロ版月額）', name: :pro_purchases, class: btn_class_success)
